@model List<TA_ASP_Kecskek.Models.Kecske>

<div class="fooldal">
    <h2>Szeretnél egy kecskét?</h2>
    <h1>AKKOR JÓ HELYEN JÁRSZ!</h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <img src="~/Content/IMGS/"/>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@kecske2.Nev</h5>
                <img src="~/Content/IMGS/@kecske2.Kep" />
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@kecske3.Nev</h5>
                <img src="~/Content/IMGS/@kecske3.Kep" />
            </div>
        </div>
    </div>
</div>
